{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                </tr>

                {% for ord in orders %}
                <tr>
                    <th>{{ord.product}}</th>
                    <th>{{ord.note}}</th>
                    <th>{{ord.date_created}}</th>
                    <th>{{ord.status}}</th>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}